* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 /* CONFIGURAÇÕES DE PAGINA */

.page {
    width: 736px;
    margin: auto;

}

fieldset {
    border: none;
}
body {
    background-color: #D9D9D9;
}

body::before { /* ADICIONANDO O FUNDO PRETO COMO PSEUDOCLASSE*/
    content: '';
    background-color: black;
    width: 100%;
    height: 368px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    margin-top: 80px;
    max-width: 319px;
    margin-bottom: 42px;
}
 /* CONFIGURAÇÕES DE TEXTOS */ 


body, input, select, button, textarea {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
    font-family: 'Archivo', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

header p {
    color: #42D3FF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

fieldset legend {
    font-family: 'Archivo', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    color: black;

    padding: 0 0 16px 0;
    border-bottom: 1px solid #E6E6F0;
}

footer {
    height: 136px;
    padding: 40px 64px 40px 64px;
    border-radius: 0 0 8px 8px;
    background-color: #F0F0F4;
    border-top: 2px solid #D6D6D6;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
}

footer button {
    border: none;
    border-radius: 8px;
    height: 56px;
    background-color: #04D361;

    color: #FFF;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

footer button:hover{
    background-color: #039e49;
}

/* CONFIGURAÇÕES DO FORM */

form {
    background-color: white;
    padding: 64px;
    border-radius: 8px 8px 0px 0px;

    display: flex;
    flex-direction: column;
    gap: 48px;
}


.fieldset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px; 
} 

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
   
}

.input-wrapper input, select {
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding: 0px 24px 0px 24px;
    height: 56px;
    color: #777480;
}

.input-wrapper select {
    appearance: none;
    -webkit-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}


.input-wrapper label {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4E4958;

}

.input-wrapper span {
    color: #C1BCCC;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

textarea {
    height: 168px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    padding: 12px 24px 0px 24px;
    height: 156px;
    color: #777480;
}

.col-3 {
    display: flex;
    flex: row;
    gap: 20px;
}

.col-3 > div:nth-child(1){
    width: 100%;
}

input:invalid {
    border: 2px solid red;
}
/* CONFIG DO CHECKBOX */

.checkbox-wrapper {
    position: relative;
}

.checkbox-wrapper label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.checkbox-wrapper label {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4E4958;
}

.checkbox-wrapper label::before {
    content: '';
    border: 1px solid #E6E6F0;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    display: block;
}

.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;

    opacity: 0;
}

.checkbox-wrapper input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox-wrapper input:focus + label::before {
    border: 2px solid black;
}       


